body {
    background: #0f0f0f;
    font-family: Arial;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    background: #1c1c1c;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}
